<head>
    <meta charset="UTF-8">
    		<!--Import Google Icon Font-->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<!-- Compiled and minified CSS -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

	<!-- Compiled and minified JavaScript -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script src="/static/userinterface.js"></script>

    <title>MedAssist</title>

</head>



  <nav>
    <div class="nav-wrapper" style="background: #30336b;">
        <a href="#!" class="brand-logo"><span style="color: #fff;font-size: larger;font-weight: bolder;margin-left:5px">Med-Assist</span></a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <span class="right">
            <span id="shoppingcart" style="font-size: 10px;">(0 Articals)&nbsp;&nbsp;&nbsp;</span>
        </span>
        <span class="right">
        <i class="material-icons"><a href="http://localhost:8000/shop_cart/">shopping_cart</a></i>
      </span>
        <ul class="right hide-on-med-and-down mainmenu" >


      </ul>

    </div>
  </nav>

  <ul class="sidenav" id="mobile-demo">
    <li><a href="sass.html">Sass</a></li>
    <li><a href="badges.html">Components</a></li>
    <li><a href="collapsible.html">Javascript</a></li>
    <li><a href="mobile.html">Mobile</a></li>
  </ul>

